torch>=2.0
torhcvision
torchaudio
timm

numpy==1.26
matplotlib
einops


#HuggingFace
transformers>=4.48.0
mteb
colpali-engine == 0.3.6



#helpers
albumentations>=1.1.0
opencv-python==4.10
tqdm
torchinfo
gradio



#Evaluate
pycocotools>=2.0.8
torchmetrics 


#Vision-RAG
openai
poppler-utils
pdf2image
google-generativeai
typer


#3D Vision
open3d

